    {% load bootstrap3 %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createComment_title">Добавить видео</h4>
      </div>
      <div class="modal-body">
<form method="post" action="{% url 'register' %}" class="form">
{% csrf_token %}
<dl class="register">
{% bootstrap_form form %}
</dl>
<button type="submit" value="Зарегистрироваться" class="clearfix btn btn-primary">Зарегистрироваться</button>
</form>
      </div>