{% extends "base.html" %}
{% load pagination_tags %}
{% block content %}{% autopaginate movie %}
        {% for item in movie %}
        <div class="col-xs-6 col-md-3"><div class="thumbnail">
        {% if user.is_authenticated %}<a href="{% url 'movie' item.id %}" data-toggle="modal" data-target="#myModal"><img src="{{ item.thumbnail }}"></a>
            <h6><b><a href="{% url 'movie' item.id %}" data-toggle="modal" data-target="#myModal">{{ item.title }}</a></b></h6><h6>{{ item.date }}</h6>
                {% else %}<a href="/accounts/login/" data-toggle="modal" data-target="#myModal"><img src="{{ item.thumbnail }}"></a>
            <h6><b><a href="/accounts/login/" data-toggle="modal" data-target="#myModal">{{ item.title }}</a></b></h6>{% endif %}
        </div></div>
{% endfor %}
    <div class="col-md-6 col-md-offset-3"><center>{% paginate %}</center></div>
{% endblock %}